* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body {
  width: 100vw;
  height: 100vh;
  display: flex;
} */

#product-container {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
  letter-spacing: 1px;
  justify-content: center;
}

p {
  margin-top: 2px;
}

.cards {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  min-width: 25%;
  border: 2px solid black;
  padding: 1rem;
}

img {
  max-width: 15rem;
  max-height: 18rem;
}

.addToCartBtn {
  width: 50%;
  margin-top: 1rem;
}
