* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
}

header {
  color: white;
  background-color: black;
  display: flex;
  justify-content: space-between;
}

header h1 {
  padding: 2rem;
}

#cartIcon {
  margin-right: 4rem;
}

#product-container {
  display: flex;
  flex-wrap: wrap;
  letter-spacing: 1px;
  justify-content: center;
}

p {
  margin-top: 2px;
}

.cards {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  min-width: 25%;
  border: 2px solid rgb(122, 120, 120);
  border-radius: 15px;
  box-shadow: 10px 10px lightgray;
  padding: 1rem;
}

img {
  max-width: 15rem;
  max-height: 18rem;
  align-self: center;
}

.addToCartBtn {
  width: 50%;
  margin-top: 1rem;
  background-color: black;
  color: white;
  padding: 0.5rem;
}
